<template>
  <v-container>
    <v-dialog
      v-model="getProgress.status"
      persistent :overlay="false"
      width="400"
      height="250"
    >
      <v-card light
        width="400"
        height="250"
      >
        <v-container class="justify-center align-center" fill-height>
          <v-row class="pa-5">
            <v-img src="@/assets/mount-logo-black-notext.png" contain height="100" width="100"></v-img>
          </v-row>
          <v-row align="center" justify="center">
            <v-progress-linear
              :value="getProgress.pct"
              color="accent"
              height="5px"
              class="mr-1 ml-1"
            ></v-progress-linear>
            {{Math.round(getProgress.pct)}}% of 100%
          </v-row>
          <v-row class="justify-center">
            Please wait...
          </v-row>
        </v-container>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
  export default {
    computed: {
      getProgress(){
        return this.$store.getters.getProgress
      }
    }
  }
</script>
